@import 'variables';
@import 'mixins';
@import 'header';
@import 'section1';

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
    // font: inherit;
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    border: none;
    background: none;
    outline: none;
}

body {
    font-family: $ff-primary;
    color: $DarkBlue;
}

.container {
    $max-width: 1300px;
    $padding: 1rem;

    width: min($max-width, 100% - ($padding * 2));
    margin-inline: auto;
}

.even__columns {
    display: grid;
    gap: 1rem;

    @media (min-width: 50em) {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}

.section {
    padding: 60px 0;

    @include tablet {
        padding-top: 20px ;
    }
}

.btn-primary {
    padding: 16px 36px;
    background-color: $BrightRed;
    cursor: pointer;
    color: #fff;
    border-radius: 50px;
}

.img-active {
    display: none;
}

.img2 {
    display: none;
}

.img-isactive {
    display: block;
}

.overlay {
    position: absolute;
    top: 80px;
    left: 0;
    height: calc(100vh - 80px);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.13);
    z-index: 5;
    display: none;
}

.overlay-active {
    display: block;
}